.navbar {
    background-color: #f3f3f3;
    /* padding: 1rem; */
    size: 40cm;
    justify-content: space-between;
    
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
=======
    justify-content: center;
    
>>>>>>> main
  }
  
  .navItem {
    margin: 0 3rem;
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
  }
  
  .navLink:hover {
    color: #0070f3;
  }