.navbar {
    background-color: #293241;
}
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navItem {
    margin: 0 3rem;
  }
  
  .navLink {
    text-decoration: none;
    color: #ffffff;
  }
  
  .navLink:hover {
    text-decoration: none;
    color: #C1B3A0;
  }
