.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.headingMd {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.input{
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 150px;
  font-family:arial;
}

.button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #293241;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0051a2;
}

.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

.error {
  color: rgb(231, 20, 20);
  font-size: 1.5rem;
}

.success{
  color:forestgreen;
  font-size: 1.5rem;
}
