.inputStyle{
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
    width: 250px;
    height: 40px;
}

.buttonStyle {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #293241;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100px; 
  height: 40px;
}